/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

big {
    font-weight: 700;
}

big a{
    font-weight: 700;
}

header big a{
    font-weight: 900;
}

h1 a{
    font-weight: 800;
}

p{
    font-weight: 400;
}

.title {
    text-transform: uppercase;
}