/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

big {
    font-family: Montserrat, --ff;
    font-weight: 900;

}

.uppercase {
    text-transform: uppercase;
}

.s110 {
    font-family: Montserrat, --ff;
    font-weight: 900;
}