@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-Regular"), url("fonts/Montserrat-Regular.woff2");//latin regular
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-Italic"), url("fonts/Montserrat-Italic.woff2");//latin regular
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-Black"), url("fonts/Montserrat-Black.woff2");//latin regular
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-Bold"), url("fonts/Montserrat-Bold.woff2");//latin regular
    font-weight: bold 700;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local("Montserrat-ExtraBold"), url("fonts/Montserrat-ExtraBold.woff2");//latin regular
    font-weight: bolder 800;
    font-display: swap;
}